/*
Figma API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 0.42.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package figma

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// FilesAPIService FilesAPI service
type FilesAPIService service

type ApiGetFileNodesRequest struct {
	ctx        context.Context
	ApiService *FilesAPIService
	fileKey    string
	ids        *string
	version    *string
	depth      *float32
	geometry   *string
	pluginData *string
}

// A comma separated list of node IDs to retrieve and convert.
func (r ApiGetFileNodesRequest) Ids(ids string) ApiGetFileNodesRequest {
	r.ids = &ids
	return r
}

// A specific version ID to get. Omitting this will get the current version of the file.
func (r ApiGetFileNodesRequest) Version(version string) ApiGetFileNodesRequest {
	r.version = &version
	return r
}

// Positive integer representing how deep into the node tree to traverse. For example, setting this to 1 will return only the children directly underneath the desired nodes. Not setting this parameter returns all nodes.  Note: this parameter behaves differently from the same parameter in the &#x60;GET /v1/files/:key&#x60; endpoint. In this endpoint, the depth will be counted starting from the desired node rather than the document root node.
func (r ApiGetFileNodesRequest) Depth(depth float32) ApiGetFileNodesRequest {
	r.depth = &depth
	return r
}

// Set to \&quot;paths\&quot; to export vector data.
func (r ApiGetFileNodesRequest) Geometry(geometry string) ApiGetFileNodesRequest {
	r.geometry = &geometry
	return r
}

// A comma separated list of plugin IDs and/or the string \&quot;shared\&quot;. Any data present in the document written by those plugins will be included in the result in the &#x60;pluginData&#x60; and &#x60;sharedPluginData&#x60; properties.
func (r ApiGetFileNodesRequest) PluginData(pluginData string) ApiGetFileNodesRequest {
	r.pluginData = &pluginData
	return r
}

func (r ApiGetFileNodesRequest) Execute() (*InlineObject1, *http.Response, error) {
	return r.ApiService.GetFileNodesExecute(r)
}

/*
GetFileNodes Get file JSON for specific nodes

Returns the nodes referenced to by `ids` as a JSON object. The nodes are retrieved from the Figma file referenced to by `file_key`.

The node ID and file key can be parsed from any Figma node url: `https://www.figma.com/file/{file_key}/{title}?node-id={id}`

The `name`, `lastModified`, `thumbnailUrl`, `editorType`, and `version` attributes are all metadata of the specified file.

The `linkAccess` field describes the file link share permission level. There are 5 types of permissions a shared link can have: `"inherit"`, `"view"`, `"edit"`, `"org_view"`, and `"org_edit"`. `"inherit"` is the default permission applied to files created in a team project, and will inherit the project's permissions. `"org_view"` and `"org_edit"` restrict the link to org users.

The `document` attribute contains a Node of type `DOCUMENT`.

The `components` key contains a mapping from node IDs to component metadata. This is to help you determine which components each instance comes from.

By default, no vector data is returned. To return vector data, pass the geometry=paths parameter to the endpoint.
Each node can also inherit properties from applicable styles. The styles key contains a mapping from style IDs to style metadata.

Important: the nodes map may contain values that are `null`. This may be due to the node id not existing within the specified file.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fileKey File to export JSON from. This can be a file key or branch key. Use `GET /v1/files/:key` with the `branch_data` query param to get the branch key.
	@return ApiGetFileNodesRequest
*/
func (a *FilesAPIService) GetFileNodes(ctx context.Context, fileKey string) ApiGetFileNodesRequest {
	return ApiGetFileNodesRequest{
		ApiService: a,
		ctx:        ctx,
		fileKey:    fileKey,
	}
}

// Execute executes the request
//
//	@return InlineObject1
func (a *FilesAPIService) GetFileNodesExecute(r ApiGetFileNodesRequest) (*InlineObject1, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InlineObject1
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FilesAPIService.GetFileNodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/files/{file_key}/nodes"
	localVarPath = strings.Replace(localVarPath, "{"+"file_key"+"}", url.PathEscape(parameterValueToString(r.fileKey, "fileKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ids == nil {
		return localVarReturnValue, nil, reportError("ids is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "form", "")
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.depth != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depth", r.depth, "form", "")
	}
	if r.geometry != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "geometry", r.geometry, "form", "")
	}
	if r.pluginData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plugin_data", r.pluginData, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PersonalAccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Figma-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlanAccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Figma-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InlineObject46
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject49
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject51
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v InlineObject53
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v InlineObject56
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetImagesRequest struct {
	ctx               context.Context
	ApiService        *FilesAPIService
	fileKey           string
	ids               *string
	version           *string
	scale             *float32
	format            *string
	svgOutlineText    *bool
	svgIncludeId      *bool
	svgIncludeNodeId  *bool
	svgSimplifyStroke *bool
	contentsOnly      *bool
	useAbsoluteBounds *bool
}

// A comma separated list of node IDs to render.
func (r ApiGetImagesRequest) Ids(ids string) ApiGetImagesRequest {
	r.ids = &ids
	return r
}

// A specific version ID to get. Omitting this will get the current version of the file.
func (r ApiGetImagesRequest) Version(version string) ApiGetImagesRequest {
	r.version = &version
	return r
}

// A number between 0.01 and 4, the image scaling factor.
func (r ApiGetImagesRequest) Scale(scale float32) ApiGetImagesRequest {
	r.scale = &scale
	return r
}

// A string enum for the image output format.
func (r ApiGetImagesRequest) Format(format string) ApiGetImagesRequest {
	r.format = &format
	return r
}

// Whether text elements are rendered as outlines (vector paths) or as &#x60;&lt;text&gt;&#x60; elements in SVGs.  Rendering text elements as outlines guarantees that the text looks exactly the same in the SVG as it does in the browser/inside Figma.  Exporting as &#x60;&lt;text&gt;&#x60; allows text to be selectable inside SVGs and generally makes the SVG easier to read. However, this relies on the browser&#39;s rendering engine which can vary between browsers and/or operating systems. As such, visual accuracy is not guaranteed as the result could look different than in Figma.
func (r ApiGetImagesRequest) SvgOutlineText(svgOutlineText bool) ApiGetImagesRequest {
	r.svgOutlineText = &svgOutlineText
	return r
}

// Whether to include id attributes for all SVG elements. Adds the layer name to the &#x60;id&#x60; attribute of an svg element.
func (r ApiGetImagesRequest) SvgIncludeId(svgIncludeId bool) ApiGetImagesRequest {
	r.svgIncludeId = &svgIncludeId
	return r
}

// Whether to include node id attributes for all SVG elements. Adds the node id to a &#x60;data-node-id&#x60; attribute of an svg element.
func (r ApiGetImagesRequest) SvgIncludeNodeId(svgIncludeNodeId bool) ApiGetImagesRequest {
	r.svgIncludeNodeId = &svgIncludeNodeId
	return r
}

// Whether to simplify inside/outside strokes and use stroke attribute if possible instead of &#x60;&lt;mask&gt;&#x60;.
func (r ApiGetImagesRequest) SvgSimplifyStroke(svgSimplifyStroke bool) ApiGetImagesRequest {
	r.svgSimplifyStroke = &svgSimplifyStroke
	return r
}

// Whether content that overlaps the node should be excluded from rendering. Passing false (i.e., rendering overlaps) may increase processing time, since more of the document must be included in rendering.
func (r ApiGetImagesRequest) ContentsOnly(contentsOnly bool) ApiGetImagesRequest {
	r.contentsOnly = &contentsOnly
	return r
}

// Use the full dimensions of the node regardless of whether or not it is cropped or the space around it is empty. Use this to export text nodes without cropping.
func (r ApiGetImagesRequest) UseAbsoluteBounds(useAbsoluteBounds bool) ApiGetImagesRequest {
	r.useAbsoluteBounds = &useAbsoluteBounds
	return r
}

func (r ApiGetImagesRequest) Execute() (*InlineObject2, *http.Response, error) {
	return r.ApiService.GetImagesExecute(r)
}

/*
GetImages Render images of file nodes

Renders images from a file.

If no error occurs, `"images"` will be populated with a map from node IDs to URLs of the rendered images, and `"status"` will be omitted. The image assets will expire after 30 days. Images up to 32 megapixels can be exported. Any images that are larger will be scaled down.

Important: the image map may contain values that are `null`. This indicates that rendering of that specific node has failed. This may be due to the node id not existing, or other reasons such has the node having no renderable components. It is guaranteed that any node that was requested for rendering will be represented in this map whether or not the render succeeded.

To render multiple images from the same file, use the `ids` query parameter to specify multiple node ids.

```
GET /v1/images/:key?ids=1:2,1:3,1:4
```

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param fileKey File to export images from. This can be a file key or branch key. Use `GET /v1/files/:key` with the `branch_data` query param to get the branch key.
	@return ApiGetImagesRequest
*/
func (a *FilesAPIService) GetImages(ctx context.Context, fileKey string) ApiGetImagesRequest {
	return ApiGetImagesRequest{
		ApiService: a,
		ctx:        ctx,
		fileKey:    fileKey,
	}
}

// Execute executes the request
//
//	@return InlineObject2
func (a *FilesAPIService) GetImagesExecute(r ApiGetImagesRequest) (*InlineObject2, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *InlineObject2
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FilesAPIService.GetImages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/images/{file_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"file_key"+"}", url.PathEscape(parameterValueToString(r.fileKey, "fileKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ids == nil {
		return localVarReturnValue, nil, reportError("ids is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ids", r.ids, "form", "")
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	if r.scale != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scale", r.scale, "form", "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "png"
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", defaultValue, "form", "")
		r.format = &defaultValue
	}
	if r.svgOutlineText != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "svg_outline_text", r.svgOutlineText, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "svg_outline_text", defaultValue, "form", "")
		r.svgOutlineText = &defaultValue
	}
	if r.svgIncludeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "svg_include_id", r.svgIncludeId, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "svg_include_id", defaultValue, "form", "")
		r.svgIncludeId = &defaultValue
	}
	if r.svgIncludeNodeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "svg_include_node_id", r.svgIncludeNodeId, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "svg_include_node_id", defaultValue, "form", "")
		r.svgIncludeNodeId = &defaultValue
	}
	if r.svgSimplifyStroke != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "svg_simplify_stroke", r.svgSimplifyStroke, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "svg_simplify_stroke", defaultValue, "form", "")
		r.svgSimplifyStroke = &defaultValue
	}
	if r.contentsOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contents_only", r.contentsOnly, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "contents_only", defaultValue, "form", "")
		r.contentsOnly = &defaultValue
	}
	if r.useAbsoluteBounds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "use_absolute_bounds", r.useAbsoluteBounds, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "use_absolute_bounds", defaultValue, "form", "")
		r.useAbsoluteBounds = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PersonalAccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Figma-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["PlanAccessToken"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Figma-Token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InlineObject46
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v InlineObject49
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InlineObject51
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v InlineObject53
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v InlineObject56
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
