openapi: 3.1.0
info:
  title: Figma API
  version: 0.42.0
servers:
  - url: https://api.figma.com
paths:
  /v1/files/{file_key}/nodes:
    get:
      description: >-
        Returns the nodes referenced to by `ids` as a JSON object. The nodes are
        retrieved from the Figma file referenced to by `file_key`.


        The node ID and file key can be parsed from any Figma node url:
        `https://www.figma.com/file/{file_key}/{title}?node-id={id}`


        The `name`, `lastModified`, `thumbnailUrl`, `editorType`, and `version`
        attributes are all metadata of the specified file.


        The `linkAccess` field describes the file link share permission level.
        There are 5 types of permissions a shared link can have: `"inherit"`,
        `"view"`, `"edit"`, `"org_view"`, and `"org_edit"`. `"inherit"` is the
        default permission applied to files created in a team project, and will
        inherit the project's permissions. `"org_view"` and `"org_edit"`
        restrict the link to org users.


        The `document` attribute contains a Node of type `DOCUMENT`.


        The `components` key contains a mapping from node IDs to component
        metadata. This is to help you determine which components each instance
        comes from.


        By default, no vector data is returned. To return vector data, pass the
        geometry=paths parameter to the endpoint.

        Each node can also inherit properties from applicable styles. The styles
        key contains a mapping from style IDs to style metadata.


        Important: the nodes map may contain values that are `null`. This may be
        due to the node id not existing within the specified file.
      operationId: getFileNodes
      parameters:
        - description: File to export JSON from. This can be a file key or branch key. Use
            `GET /v1/files/:key` with the `branch_data` query param to get the
            branch key.
          explode: false
          in: path
          name: file_key
          required: true
          schema:
            type: string
          style: simple
        - description: A comma separated list of node IDs to retrieve and convert.
          explode: true
          in: query
          name: ids
          required: true
          schema:
            type: string
          style: form
        - description: A specific version ID to get. Omitting this will get the current
            version of the file.
          explode: true
          in: query
          name: version
          required: false
          schema:
            type: string
          style: form
        - description: >-
            Positive integer representing how deep into the node tree to
            traverse. For example, setting this to 1 will return only the
            children directly underneath the desired nodes. Not setting this
            parameter returns all nodes.


            Note: this parameter behaves differently from the same parameter in
            the `GET /v1/files/:key` endpoint. In this endpoint, the depth will
            be counted starting from the desired node rather than the document
            root node.
          explode: true
          in: query
          name: depth
          required: false
          schema:
            type: number
          style: form
        - description: Set to "paths" to export vector data.
          explode: true
          in: query
          name: geometry
          required: false
          schema:
            type: string
          style: form
        - description: A comma separated list of plugin IDs and/or the string "shared".
            Any data present in the document written by those plugins will be
            included in the result in the `pluginData` and `sharedPluginData`
            properties.
          explode: true
          in: query
          name: plugin_data
          required: false
          schema:
            type: string
          style: form
      responses:
        "200":
          $ref: "#/components/responses/GetFileNodesResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponseWithErrMessage"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponseWithErrMessage"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponseWithErrMessage"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponseWithErrMessage"
      security:
        - PersonalAccessToken: []
        - PlanAccessToken: []
        - OAuth2:
            - file_content:read
            - files:read
      summary: Get file JSON for specific nodes
      tags:
        - Files
  /v1/images/{file_key}:
    get:
      description: >
        Renders images from a file.


        If no error occurs, `"images"` will be populated with a map from node
        IDs to URLs of the rendered images, and `"status"` will be omitted. The
        image assets will expire after 30 days. Images up to 32 megapixels can
        be exported. Any images that are larger will be scaled down.


        Important: the image map may contain values that are `null`. This
        indicates that rendering of that specific node has failed. This may be
        due to the node id not existing, or other reasons such has the node
        having no renderable components. It is guaranteed that any node that was
        requested for rendering will be represented in this map whether or not
        the render succeeded.


        To render multiple images from the same file, use the `ids` query
        parameter to specify multiple node ids.


        ```

        GET /v1/images/:key?ids=1:2,1:3,1:4

        ```
      operationId: getImages
      parameters:
        - description: File to export images from. This can be a file key or branch key.
            Use `GET /v1/files/:key` with the `branch_data` query param to get
            the branch key.
          explode: false
          in: path
          name: file_key
          required: true
          schema:
            type: string
          style: simple
        - description: A comma separated list of node IDs to render.
          explode: true
          in: query
          name: ids
          required: true
          schema:
            type: string
          style: form
        - description: A specific version ID to get. Omitting this will get the current
            version of the file.
          explode: true
          in: query
          name: version
          required: false
          schema:
            type: string
          style: form
        - description: A number between 0.01 and 4, the image scaling factor.
          explode: true
          in: query
          name: scale
          required: false
          schema:
            maximum: 4
            minimum: 0.01
            type: number
          style: form
        - description: A string enum for the image output format.
          explode: true
          in: query
          name: format
          required: false
          schema:
            default: png
            enum:
              - jpg
              - png
              - svg
              - pdf
            type: string
          style: form
        - description: >-
            Whether text elements are rendered as outlines (vector paths) or as
            `<text>` elements in SVGs.


            Rendering text elements as outlines guarantees that the text looks
            exactly the same in the SVG as it does in the browser/inside Figma.


            Exporting as `<text>` allows text to be selectable inside SVGs and
            generally makes the SVG easier to read. However, this relies on the
            browser's rendering engine which can vary between browsers and/or
            operating systems. As such, visual accuracy is not guaranteed as the
            result could look different than in Figma.
          explode: true
          in: query
          name: svg_outline_text
          required: false
          schema:
            default: true
            type: boolean
          style: form
        - description: Whether to include id attributes for all SVG elements. Adds the
            layer name to the `id` attribute of an svg element.
          explode: true
          in: query
          name: svg_include_id
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Whether to include node id attributes for all SVG elements. Adds
            the node id to a `data-node-id` attribute of an svg element.
          explode: true
          in: query
          name: svg_include_node_id
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Whether to simplify inside/outside strokes and use stroke attribute
            if possible instead of `<mask>`.
          explode: true
          in: query
          name: svg_simplify_stroke
          required: false
          schema:
            default: true
            type: boolean
          style: form
        - description: Whether content that overlaps the node should be excluded from
            rendering. Passing false (i.e., rendering overlaps) may increase
            processing time, since more of the document must be included in
            rendering.
          explode: true
          in: query
          name: contents_only
          required: false
          schema:
            default: true
            type: boolean
          style: form
        - description: Use the full dimensions of the node regardless of whether or not it
            is cropped or the space around it is empty. Use this to export text
            nodes without cropping.
          explode: true
          in: query
          name: use_absolute_bounds
          required: false
          schema:
            default: false
            type: boolean
          style: form
      responses:
        "200":
          $ref: "#/components/responses/GetImagesResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponseWithErrMessage"
        "403":
          $ref: "#/components/responses/ForbiddenErrorResponseWithErrMessage"
        "404":
          $ref: "#/components/responses/NotFoundErrorResponseWithErrMessage"
        "429":
          $ref: "#/components/responses/TooManyRequestsErrorResponseWithErrMessage"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponseWithErrMessage"
      security:
        - PersonalAccessToken: []
        - PlanAccessToken: []
        - OAuth2:
            - file_content:read
            - files:read
      summary: Render images of file nodes
      tags:
        - Files
components:
  securitySchemes:
    PersonalAccessToken:
      in: header
      name: X-Figma-Token
      type: apiKey
    PlanAccessToken:
      in: header
      name: X-Figma-Token
      type: apiKey
    OAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://www.figma.com/oauth
          refreshUrl: https://api.figma.com/v1/oauth/refresh
          scopes:
            current_user:read: Read your name, email, and profile image.
            file_comments:read: Read the comments for files.
            file_comments:write: Post and delete comments and comment reactions in files.
            file_content:read: Read the contents of files, such as nodes and the editor type.
            file_dev_resources:read: Read dev resources in files.
            file_dev_resources:write: Write to dev resources in files.
            file_metadata:read: Read metadata of files.
            file_variables:read: "Read variables in Figma file. Note: this is only available
              to members in Enterprise organizations."
            file_variables:write: "Write to variables in Figma file. Note: this is only
              available to members in Enterprise organizations."
            file_versions:read: Read the version history for files you can access.
            files:read: Deprecated. Read files, projects, users, versions, comments,
              components & styles, and webhooks.
            library_analytics:read: Read library analytics data.
            library_assets:read: Read data of individual published components and styles.
            library_content:read: Read published components and styles of files.
            project_metadata:read: Read metadata of projects.
            projects:read: List projects and files in projects.
            folders:read: List folders and files in folders.
            folder_metadata:read: Read metadata of folders.
            team_library_content:read: Read published components and styles of teams.
            webhooks:read: Read metadata of webhooks.
            webhooks:write: Create and manage webhooks.
          tokenUrl: https://api.figma.com/v1/oauth/token
      type: oauth2
    OrgOAuth2:
      flows:
        authorizationCode:
          authorizationUrl: https://www.figma.com/oauth
          refreshUrl: https://api.figma.com/v1/oauth/refresh
          scopes:
            org:activity_log_read: Read activity logs in the organization.
          tokenUrl: https://api.figma.com/v1/oauth/token
      type: oauth2
  responses:
    GetFileNodesResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inline_object_1"
      description: Response from the GET /v1/files/{file_key}/nodes endpoint.
    BadRequestErrorResponseWithErrMessage:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inline_object_46"
      description: Bad request. Parameters are invalid or malformed. Please check the
        input formats. This error can also happen if the requested resources are
        too large to complete the request, which results in a timeout. Please
        reduce the number and size of objects requested.
    ForbiddenErrorResponseWithErrMessage:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inline_object_49"
      description: The request was valid, but the server is refusing action. The user
        might not have the necessary permissions for a resource, or may need an
        account of some sort.
    NotFoundErrorResponseWithErrMessage:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inline_object_51"
      description: The requested file or resource was not found.
    TooManyRequestsErrorResponseWithErrMessage:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inline_object_53"
      description: In some cases API requests may be throttled or rate limited. Please
        wait a while before attempting the request again (typically a minute).
    InternalServerErrorResponseWithErrMessage:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inline_object_56"
      description: An internal server error occurred.
    GetImagesResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/inline_object_2"
      description: Response from the GET /v1/images/{file_key} endpoint.
  schemas:
    inline_object_1:
      example:
        name: name
        role: ""
        lastModified: 2000-01-23T04:56:07.000+00:00
        editorType: figma
        thumbnailUrl: thumbnailUrl
        version: version
        nodes:
          key:
            document:
              type: type
              booleanOperation: UNION
              id: id
              name: name
              visible: true
              locked: false
              isFixed: false
              scrollBehavior: SCROLLS
              rotation: 0.8008281904610115
              componentPropertyReferences:
                key: componentPropertyReferences
              pluginData: ""
              sharedPluginData: ""
              boundVariables:
                size:
                  x:
                    type: VARIABLE_ALIAS
                    id: id
                  y:
                    type: VARIABLE_ALIAS
                    id: id
                individualStrokeWeights:
                  top:
                    type: VARIABLE_ALIAS
                    id: id
                  bottom:
                    type: VARIABLE_ALIAS
                    id: id
                  left:
                    type: VARIABLE_ALIAS
                    id: id
                  right:
                    type: VARIABLE_ALIAS
                    id: id
                characters:
                  type: VARIABLE_ALIAS
                  id: id
                itemSpacing:
                  type: VARIABLE_ALIAS
                  id: id
                paddingLeft:
                  type: VARIABLE_ALIAS
                  id: id
                paddingRight:
                  type: VARIABLE_ALIAS
                  id: id
                paddingTop:
                  type: VARIABLE_ALIAS
                  id: id
                paddingBottom:
                  type: VARIABLE_ALIAS
                  id: id
                visible:
                  type: VARIABLE_ALIAS
                  id: id
                topLeftRadius:
                  type: VARIABLE_ALIAS
                  id: id
                topRightRadius:
                  type: VARIABLE_ALIAS
                  id: id
                bottomLeftRadius:
                  type: VARIABLE_ALIAS
                  id: id
                bottomRightRadius:
                  type: VARIABLE_ALIAS
                  id: id
                minWidth:
                  type: VARIABLE_ALIAS
                  id: id
                maxWidth:
                  type: VARIABLE_ALIAS
                  id: id
                minHeight:
                  type: VARIABLE_ALIAS
                  id: id
                maxHeight:
                  type: VARIABLE_ALIAS
                  id: id
                counterAxisSpacing:
                  type: VARIABLE_ALIAS
                  id: id
                opacity:
                  type: VARIABLE_ALIAS
                  id: id
                fontFamily:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                fontSize:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                fontStyle:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                fontWeight:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                letterSpacing:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                lineHeight:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                paragraphSpacing:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                paragraphIndent:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                fills:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                strokes:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                componentProperties:
                  key:
                    type: VARIABLE_ALIAS
                    id: id
                textRangeFills:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                effects:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                layoutGrids:
                  - type: VARIABLE_ALIAS
                    id: id
                  - type: VARIABLE_ALIAS
                    id: id
                rectangleCornerRadii:
                  RECTANGLE_TOP_LEFT_CORNER_RADIUS:
                    type: VARIABLE_ALIAS
                    id: id
                  RECTANGLE_TOP_RIGHT_CORNER_RADIUS:
                    type: VARIABLE_ALIAS
                    id: id
                  RECTANGLE_BOTTOM_LEFT_CORNER_RADIUS:
                    type: VARIABLE_ALIAS
                    id: id
                  RECTANGLE_BOTTOM_RIGHT_CORNER_RADIUS:
                    type: VARIABLE_ALIAS
                    id: id
              explicitVariableModes:
                key: explicitVariableModes
              blendMode: ""
              opacity: 0.6027456183070403
              children:
                - null
                - null
              absoluteBoundingBox: ""
              absoluteRenderBounds: ""
              preserveRatio: false
              constraints: ""
              relativeTransform: ""
              size: ""
              layoutAlign: INHERIT
              layoutGrow: 1.4658129805029452
              layoutPositioning: AUTO
              minWidth: 5.962133916683182
              maxWidth: 5.637376656633329
              minHeight: 2.3021358869347655
              maxHeight: 7.061401241503109
              layoutSizingHorizontal: FIXED
              layoutSizingVertical: FIXED
              gridRowCount: 9.301444243932576
              gridColumnCount: 3.616076749251911
              gridRowGap: 2.027123023002322
              gridColumnGap: 4.145608029883936
              gridColumnsSizing: gridColumnsSizing
              gridRowsSizing: gridRowsSizing
              gridChildHorizontalAlign: AUTO
              gridChildVerticalAlign: AUTO
              gridRowSpan: 7.386281948385884
              gridColumnSpan: 1.2315135367772556
              gridRowAnchorIndex: 1.0246457001441578
              gridColumnAnchorIndex: 1.4894159098541704
              fills:
                - type: SOLID
                  color: ""
                  boundVariables:
                    color:
                      type: VARIABLE_ALIAS
                      id: id
                  visible: true
                  opacity: 0.684685269835264
                  blendMode: ""
                - type: SOLID
                  color: ""
                  boundVariables:
                    color:
                      type: VARIABLE_ALIAS
                      id: id
                  visible: true
                  opacity: 0.684685269835264
                  blendMode: ""
              styles:
                key: styles
              strokes:
                - null
                - null
              strokeWeight: 7.457744773683766
              strokeAlign: INSIDE
              strokeJoin: MITER
              strokeDashes:
                - 1.1730742509559433
                - 1.1730742509559433
              fillOverrideTable:
                key:
                  fills:
                    - null
                    - null
                  inheritFillStyleId: inheritFillStyleId
              fillGeometry:
                - path: path
                  windingRule: NONZERO
                  overrideID: 4.965218492984954
                - path: path
                  windingRule: NONZERO
                  overrideID: 4.965218492984954
              strokeGeometry:
                - path: path
                  windingRule: NONZERO
                  overrideID: 4.965218492984954
                - path: path
                  windingRule: NONZERO
                  overrideID: 4.965218492984954
              strokeCap: NONE
              strokeMiterAngle: 5.025004791520295
              exportSettings:
                - suffix: suffix
                  format: JPG
                  constraint:
                    type: SCALE
                    value: 9.965781217890562
                - suffix: suffix
                  format: JPG
                  constraint:
                    type: SCALE
                    value: 9.965781217890562
              effects:
                - type: DROP_SHADOW
                  showShadowBehindNode: false
                  color: ""
                  blendMode: ""
                  offset: ""
                  radius: 0.9369310271410669
                  spread: 6.683562403749608
                  visible: true
                  boundVariables:
                    radius:
                      type: VARIABLE_ALIAS
                      id: id
                    spread:
                      type: VARIABLE_ALIAS
                      id: id
                    color:
                      type: VARIABLE_ALIAS
                      id: id
                    offsetX:
                      type: VARIABLE_ALIAS
                      id: id
                    offsetY:
                      type: VARIABLE_ALIAS
                      id: id
                - type: DROP_SHADOW
                  showShadowBehindNode: false
                  color: ""
                  blendMode: ""
                  offset: ""
                  radius: 0.9369310271410669
                  spread: 6.683562403749608
                  visible: true
                  boundVariables:
                    radius:
                      type: VARIABLE_ALIAS
                      id: id
                    spread:
                      type: VARIABLE_ALIAS
                      id: id
                    color:
                      type: VARIABLE_ALIAS
                      id: id
                    offsetX:
                      type: VARIABLE_ALIAS
                      id: id
                    offsetY:
                      type: VARIABLE_ALIAS
                      id: id
              isMask: false
              maskType: ALPHA
              isMaskOutline: false
              transitionNodeID: transitionNodeID
              transitionDuration: 8.762042012749001
              transitionEasing: ""
              interactions:
                - trigger: ""
                  actions:
                    - type: BACK
                    - type: BACK
                - trigger: ""
                  actions:
                    - type: BACK
                    - type: BACK
            components:
              key:
                key: key
                name: name
                description: description
                componentSetId: componentSetId
                documentationLinks:
                  - uri: uri
                  - uri: uri
                remote: true
            componentSets:
              key:
                key: key
                name: name
                description: description
                documentationLinks:
                  - uri: uri
                  - uri: uri
                remote: true
            schemaVersion: 0.8008281904610115
            styles:
              key:
                key: key
                name: name
                description: description
                remote: true
                styleType: FILL
      properties:
        name:
          description: The name of the file as it appears in the editor.
          type: string
        role:
          allOf:
            - $ref: "#/components/schemas/Role"
          description: The role of the user making the API request in relation to the file.
        lastModified:
          description: The UTC ISO 8601 time at which the file was last modified.
          format: date-time
          type: string
        editorType:
          description: The type of editor associated with this file.
          enum:
            - figma
            - figjam
          type: string
        thumbnailUrl:
          description: A URL to a thumbnail image of the file.
          type: string
        version:
          description: The version number of the file. This number is incremented when a
            file is modified and can be used to check if the file has changed
            between requests.
          type: string
        linkAccess:
          description: The share permission level of the file link.
          enum:
            - inherit
            - view
            - edit
            - org_view
            - org_edit
          type: string
        nodes:
          additionalProperties:
            $ref: "#/components/schemas/inline_object_1_nodes_value"
          description: A mapping from node IDs to node metadata.
          type: object
      required:
        - editorType
        - lastModified
        - name
        - nodes
        - role
        - thumbnailUrl
        - version
    inline_object_46:
      allOf:
        - $ref: "#/components/schemas/ErrorResponsePayloadWithErrMessage"
        - properties:
            status:
              description: Status code
              enum:
                - 400
              type: number
          required:
            - status
      example:
        status: 6.704019297950036
        err: err
    inline_object_49:
      allOf:
        - $ref: "#/components/schemas/ErrorResponsePayloadWithErrMessage"
        - properties:
            status:
              description: Status code
              enum:
                - 403
              type: number
          required:
            - status
      example:
        status: 3.0937452626664474
        err: err
    inline_object_51:
      allOf:
        - $ref: "#/components/schemas/ErrorResponsePayloadWithErrMessage"
        - properties:
            status:
              description: Status code
              enum:
                - 404
              type: number
          required:
            - status
      example:
        status: 0.8851374739011653
        err: err
    inline_object_53:
      allOf:
        - $ref: "#/components/schemas/ErrorResponsePayloadWithErrMessage"
        - properties:
            status:
              description: Status code
              enum:
                - 429
              type: number
          required:
            - status
      example:
        status: 6.519180951018382
        err: err
    inline_object_56:
      allOf:
        - $ref: "#/components/schemas/ErrorResponsePayloadWithErrMessage"
        - properties:
            status:
              description: Status code
              enum:
                - 500
              type: number
          required:
            - status
      example:
        status: 4.652396432933246
        err: err
    inline_object_2:
      example:
        err: ""
        images:
          key: https://openapi-generator.tech
      properties:
        err:
          description: For successful requests, this value is always `null`.
        images:
          additionalProperties:
            description: A URL to the requested image.
            format: uri
            nullable: true
            type: string
          description: A map from node IDs to URLs of the rendered images.
          type: object
      required:
        - err
        - images
    Role:
      description: The role of the user making the API request in relation to the resource.
      enum:
        - owner
        - editor
        - viewer
      type: string
    inline_object_1_nodes_value:
      example:
        document:
          type: type
          booleanOperation: UNION
          id: id
          name: name
          visible: true
          locked: false
          isFixed: false
          scrollBehavior: SCROLLS
          rotation: 0.8008281904610115
          componentPropertyReferences:
            key: componentPropertyReferences
          pluginData: ""
          sharedPluginData: ""
          boundVariables:
            size:
              x:
                type: VARIABLE_ALIAS
                id: id
              y:
                type: VARIABLE_ALIAS
                id: id
            individualStrokeWeights:
              top:
                type: VARIABLE_ALIAS
                id: id
              bottom:
                type: VARIABLE_ALIAS
                id: id
              left:
                type: VARIABLE_ALIAS
                id: id
              right:
                type: VARIABLE_ALIAS
                id: id
            characters:
              type: VARIABLE_ALIAS
              id: id
            itemSpacing:
              type: VARIABLE_ALIAS
              id: id
            paddingLeft:
              type: VARIABLE_ALIAS
              id: id
            paddingRight:
              type: VARIABLE_ALIAS
              id: id
            paddingTop:
              type: VARIABLE_ALIAS
              id: id
            paddingBottom:
              type: VARIABLE_ALIAS
              id: id
            visible:
              type: VARIABLE_ALIAS
              id: id
            topLeftRadius:
              type: VARIABLE_ALIAS
              id: id
            topRightRadius:
              type: VARIABLE_ALIAS
              id: id
            bottomLeftRadius:
              type: VARIABLE_ALIAS
              id: id
            bottomRightRadius:
              type: VARIABLE_ALIAS
              id: id
            minWidth:
              type: VARIABLE_ALIAS
              id: id
            maxWidth:
              type: VARIABLE_ALIAS
              id: id
            minHeight:
              type: VARIABLE_ALIAS
              id: id
            maxHeight:
              type: VARIABLE_ALIAS
              id: id
            counterAxisSpacing:
              type: VARIABLE_ALIAS
              id: id
            opacity:
              type: VARIABLE_ALIAS
              id: id
            fontFamily:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            fontSize:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            fontStyle:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            fontWeight:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            letterSpacing:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            lineHeight:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            paragraphSpacing:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            paragraphIndent:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            fills:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            strokes:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            componentProperties:
              key:
                type: VARIABLE_ALIAS
                id: id
            textRangeFills:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            effects:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            layoutGrids:
              - type: VARIABLE_ALIAS
                id: id
              - type: VARIABLE_ALIAS
                id: id
            rectangleCornerRadii:
              RECTANGLE_TOP_LEFT_CORNER_RADIUS:
                type: VARIABLE_ALIAS
                id: id
              RECTANGLE_TOP_RIGHT_CORNER_RADIUS:
                type: VARIABLE_ALIAS
                id: id
              RECTANGLE_BOTTOM_LEFT_CORNER_RADIUS:
                type: VARIABLE_ALIAS
                id: id
              RECTANGLE_BOTTOM_RIGHT_CORNER_RADIUS:
                type: VARIABLE_ALIAS
                id: id
          explicitVariableModes:
            key: explicitVariableModes
          blendMode: ""
          opacity: 0.6027456183070403
          children:
            - null
            - null
          absoluteBoundingBox: ""
          absoluteRenderBounds: ""
          preserveRatio: false
          constraints: ""
          relativeTransform: ""
          size: ""
          layoutAlign: INHERIT
          layoutGrow: 1.4658129805029452
          layoutPositioning: AUTO
          minWidth: 5.962133916683182
          maxWidth: 5.637376656633329
          minHeight: 2.3021358869347655
          maxHeight: 7.061401241503109
          layoutSizingHorizontal: FIXED
          layoutSizingVertical: FIXED
          gridRowCount: 9.301444243932576
          gridColumnCount: 3.616076749251911
          gridRowGap: 2.027123023002322
          gridColumnGap: 4.145608029883936
          gridColumnsSizing: gridColumnsSizing
          gridRowsSizing: gridRowsSizing
          gridChildHorizontalAlign: AUTO
          gridChildVerticalAlign: AUTO
          gridRowSpan: 7.386281948385884
          gridColumnSpan: 1.2315135367772556
          gridRowAnchorIndex: 1.0246457001441578
          gridColumnAnchorIndex: 1.4894159098541704
          fills:
            - type: SOLID
              color: ""
              boundVariables:
                color:
                  type: VARIABLE_ALIAS
                  id: id
              visible: true
              opacity: 0.684685269835264
              blendMode: ""
            - type: SOLID
              color: ""
              boundVariables:
                color:
                  type: VARIABLE_ALIAS
                  id: id
              visible: true
              opacity: 0.684685269835264
              blendMode: ""
          styles:
            key: styles
          strokes:
            - null
            - null
          strokeWeight: 7.457744773683766
          strokeAlign: INSIDE
          strokeJoin: MITER
          strokeDashes:
            - 1.1730742509559433
            - 1.1730742509559433
          fillOverrideTable:
            key:
              fills:
                - null
                - null
              inheritFillStyleId: inheritFillStyleId
          fillGeometry:
            - path: path
              windingRule: NONZERO
              overrideID: 4.965218492984954
            - path: path
              windingRule: NONZERO
              overrideID: 4.965218492984954
          strokeGeometry:
            - path: path
              windingRule: NONZERO
              overrideID: 4.965218492984954
            - path: path
              windingRule: NONZERO
              overrideID: 4.965218492984954
          strokeCap: NONE
          strokeMiterAngle: 5.025004791520295
          exportSettings:
            - suffix: suffix
              format: JPG
              constraint:
                type: SCALE
                value: 9.965781217890562
            - suffix: suffix
              format: JPG
              constraint:
                type: SCALE
                value: 9.965781217890562
          effects:
            - type: DROP_SHADOW
              showShadowBehindNode: false
              color: ""
              blendMode: ""
              offset: ""
              radius: 0.9369310271410669
              spread: 6.683562403749608
              visible: true
              boundVariables:
                radius:
                  type: VARIABLE_ALIAS
                  id: id
                spread:
                  type: VARIABLE_ALIAS
                  id: id
                color:
                  type: VARIABLE_ALIAS
                  id: id
                offsetX:
                  type: VARIABLE_ALIAS
                  id: id
                offsetY:
                  type: VARIABLE_ALIAS
                  id: id
            - type: DROP_SHADOW
              showShadowBehindNode: false
              color: ""
              blendMode: ""
              offset: ""
              radius: 0.9369310271410669
              spread: 6.683562403749608
              visible: true
              boundVariables:
                radius:
                  type: VARIABLE_ALIAS
                  id: id
                spread:
                  type: VARIABLE_ALIAS
                  id: id
                color:
                  type: VARIABLE_ALIAS
                  id: id
                offsetX:
                  type: VARIABLE_ALIAS
                  id: id
                offsetY:
                  type: VARIABLE_ALIAS
                  id: id
          isMask: false
          maskType: ALPHA
          isMaskOutline: false
          transitionNodeID: transitionNodeID
          transitionDuration: 8.762042012749001
          transitionEasing: ""
          interactions:
            - trigger: ""
              actions:
                - type: BACK
                - type: BACK
            - trigger: ""
              actions:
                - type: BACK
                - type: BACK
        components:
          key:
            key: key
            name: name
            description: description
            componentSetId: componentSetId
            documentationLinks:
              - uri: uri
              - uri: uri
            remote: true
        componentSets:
          key:
            key: key
            name: name
            description: description
            documentationLinks:
              - uri: uri
              - uri: uri
            remote: true
        schemaVersion: 0.8008281904610115
        styles:
          key:
            key: key
            name: name
            description: description
            remote: true
            styleType: FILL
      properties:
        document:
          $ref: "#/components/schemas/Node"
        components:
          additionalProperties:
            $ref: "#/components/schemas/Component"
          description: A mapping from component IDs to component metadata.
          type: object
        componentSets:
          additionalProperties:
            $ref: "#/components/schemas/ComponentSet"
          description: A mapping from component set IDs to component set metadata.
          type: object
        schemaVersion:
          default: 0
          description: The version of the file schema that this file uses.
          type: number
        styles:
          additionalProperties:
            $ref: "#/components/schemas/Style"
          description: A mapping from style IDs to style metadata.
          type: object
      required:
        - componentSets
        - components
        - document
        - schemaVersion
        - styles
    ErrorResponsePayloadWithErrMessage:
      description: A response indicating an error occurred.
      properties:
        status:
          description: Status code
          type: number
        err:
          description: A string describing the error
          type: string
      required:
        - err
        - status
    Node:
      discriminator:
        mapping:
          BOOLEAN_OPERATION: "#/components/schemas/BooleanOperationNode"
          COMPONENT: "#/components/schemas/ComponentNode"
          COMPONENT_SET: "#/components/schemas/ComponentSetNode"
          CONNECTOR: "#/components/schemas/ConnectorNode"
          ELLIPSE: "#/components/schemas/EllipseNode"
          EMBED: "#/components/schemas/EmbedNode"
          FRAME: "#/components/schemas/FrameNode"
          GROUP: "#/components/schemas/GroupNode"
          INSTANCE: "#/components/schemas/InstanceNode"
          LINE: "#/components/schemas/LineNode"
          LINK_UNFURL: "#/components/schemas/LinkUnfurlNode"
          RECTANGLE: "#/components/schemas/RectangleNode"
          REGULAR_POLYGON: "#/components/schemas/RegularPolygonNode"
          SECTION: "#/components/schemas/SectionNode"
          SHAPE_WITH_TEXT: "#/components/schemas/ShapeWithTextNode"
          SLICE: "#/components/schemas/SliceNode"
          STAR: "#/components/schemas/StarNode"
          STICKY: "#/components/schemas/StickyNode"
          TABLE: "#/components/schemas/TableNode"
          TABLE_CELL: "#/components/schemas/TableCellNode"
          TEXT: "#/components/schemas/TextNode"
          TEXT_PATH: "#/components/schemas/TextPathNode"
          TRANSFORM_GROUP: "#/components/schemas/TransformGroupNode"
          VECTOR: "#/components/schemas/VectorNode"
          WASHI_TAPE: "#/components/schemas/WashiTapeNode"
          WIDGET: "#/components/schemas/WidgetNode"
          DOCUMENT: "#/components/schemas/DocumentNode"
          CANVAS: "#/components/schemas/CanvasNode"
        propertyName: type
      oneOf:
        - $ref: "#/components/schemas/BooleanOperationNode"
        - $ref: "#/components/schemas/ComponentNode"
        - $ref: "#/components/schemas/ComponentSetNode"
        - $ref: "#/components/schemas/ConnectorNode"
        - $ref: "#/components/schemas/EllipseNode"
        - $ref: "#/components/schemas/EmbedNode"
        - $ref: "#/components/schemas/FrameNode"
        - $ref: "#/components/schemas/GroupNode"
        - $ref: "#/components/schemas/InstanceNode"
        - $ref: "#/components/schemas/LineNode"
        - $ref: "#/components/schemas/LinkUnfurlNode"
        - $ref: "#/components/schemas/RectangleNode"
        - $ref: "#/components/schemas/RegularPolygonNode"
        - $ref: "#/components/schemas/SectionNode"
        - $ref: "#/components/schemas/ShapeWithTextNode"
        - $ref: "#/components/schemas/SliceNode"
        - $ref: "#/components/schemas/StarNode"
        - $ref: "#/components/schemas/StickyNode"
        - $ref: "#/components/schemas/TableNode"
        - $ref: "#/components/schemas/TableCellNode"
        - $ref: "#/components/schemas/TextNode"
        - $ref: "#/components/schemas/TextPathNode"
        - $ref: "#/components/schemas/TransformGroupNode"
        - $ref: "#/components/schemas/VectorNode"
        - $ref: "#/components/schemas/WashiTapeNode"
        - $ref: "#/components/schemas/WidgetNode"
        - $ref: "#/components/schemas/DocumentNode"
        - $ref: "#/components/schemas/CanvasNode"
    Component:
      description: A description of a main component. Helps you identify which
        component instances are attached to.
      example:
        key: key
        name: name
        description: description
        componentSetId: componentSetId
        documentationLinks:
          - uri: uri
          - uri: uri
        remote: true
      properties:
        key:
          description: The key of the component
          type: string
        name:
          description: Name of the component
          type: string
        description:
          description: The description of the component as entered in the editor
          type: string
        componentSetId:
          description: The ID of the component set if the component belongs to one
          type: string
        documentationLinks:
          description: An array of documentation links attached to this component
          items:
            $ref: "#/components/schemas/DocumentationLink"
          type: array
          default: null
        remote:
          description: Whether this component is a remote component that doesn't live in
            this file
          type: boolean
      required:
        - description
        - documentationLinks
        - key
        - name
        - remote
    ComponentSet:
      description: A description of a component set, which is a node containing a set
        of variants of a component.
      example:
        key: key
        name: name
        description: description
        documentationLinks:
          - uri: uri
          - uri: uri
        remote: true
      properties:
        key:
          description: The key of the component set
          type: string
        name:
          description: Name of the component set
          type: string
        description:
          description: The description of the component set as entered in the editor
          type: string
        documentationLinks:
          description: An array of documentation links attached to this component set
          items:
            $ref: "#/components/schemas/DocumentationLink"
          type: array
          default: null
        remote:
          description: Whether this component set is a remote component set that doesn't
            live in this file
          type: boolean
      required:
        - description
        - key
        - name
    Style:
      description: A set of properties that can be applied to nodes and published.
        Styles for a property can be created in the corresponding property's
        panel while editing a file.
      example:
        key: key
        name: name
        description: description
        remote: true
        styleType: FILL
      properties:
        key:
          description: The key of the style
          type: string
        name:
          description: Name of the style
          type: string
        description:
          description: Description of the style
          type: string
        remote:
          description: Whether this style is a remote style that doesn't live in this file
          type: boolean
        styleType:
          $ref: "#/components/schemas/StyleType"
      required:
        - description
        - key
        - name
        - remote
        - styleType
    BooleanOperationNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "BOOLEAN_OPERATION"
              enum:
                - BOOLEAN_OPERATION
              type: string
            booleanOperation:
              description: A string enum indicating the type of boolean operation applied.
              enum:
                - UNION
                - INTERSECT
                - SUBTRACT
                - EXCLUDE
              type: string
          required:
            - booleanOperation
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/HasBlendModeAndOpacityTrait"
        - $ref: "#/components/schemas/HasChildrenTrait"
        - $ref: "#/components/schemas/HasLayoutTrait"
        - $ref: "#/components/schemas/HasGeometryTrait"
        - $ref: "#/components/schemas/HasExportSettingsTrait"
        - $ref: "#/components/schemas/HasEffectsTrait"
        - $ref: "#/components/schemas/HasMaskTrait"
        - $ref: "#/components/schemas/TransitionSourceTrait"
      example:
        type: type
        booleanOperation: UNION
        id: id
        name: name
        visible: true
        locked: false
        isFixed: false
        scrollBehavior: SCROLLS
        rotation: 0.8008281904610115
        componentPropertyReferences:
          key: componentPropertyReferences
        pluginData: ""
        sharedPluginData: ""
        boundVariables:
          size:
            x:
              type: VARIABLE_ALIAS
              id: id
            y:
              type: VARIABLE_ALIAS
              id: id
          individualStrokeWeights:
            top:
              type: VARIABLE_ALIAS
              id: id
            bottom:
              type: VARIABLE_ALIAS
              id: id
            left:
              type: VARIABLE_ALIAS
              id: id
            right:
              type: VARIABLE_ALIAS
              id: id
          characters:
            type: VARIABLE_ALIAS
            id: id
          itemSpacing:
            type: VARIABLE_ALIAS
            id: id
          paddingLeft:
            type: VARIABLE_ALIAS
            id: id
          paddingRight:
            type: VARIABLE_ALIAS
            id: id
          paddingTop:
            type: VARIABLE_ALIAS
            id: id
          paddingBottom:
            type: VARIABLE_ALIAS
            id: id
          visible:
            type: VARIABLE_ALIAS
            id: id
          topLeftRadius:
            type: VARIABLE_ALIAS
            id: id
          topRightRadius:
            type: VARIABLE_ALIAS
            id: id
          bottomLeftRadius:
            type: VARIABLE_ALIAS
            id: id
          bottomRightRadius:
            type: VARIABLE_ALIAS
            id: id
          minWidth:
            type: VARIABLE_ALIAS
            id: id
          maxWidth:
            type: VARIABLE_ALIAS
            id: id
          minHeight:
            type: VARIABLE_ALIAS
            id: id
          maxHeight:
            type: VARIABLE_ALIAS
            id: id
          counterAxisSpacing:
            type: VARIABLE_ALIAS
            id: id
          opacity:
            type: VARIABLE_ALIAS
            id: id
          fontFamily:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          fontSize:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          fontStyle:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          fontWeight:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          letterSpacing:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          lineHeight:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          paragraphSpacing:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          paragraphIndent:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          fills:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          strokes:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          componentProperties:
            key:
              type: VARIABLE_ALIAS
              id: id
          textRangeFills:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          effects:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          layoutGrids:
            - type: VARIABLE_ALIAS
              id: id
            - type: VARIABLE_ALIAS
              id: id
          rectangleCornerRadii:
            RECTANGLE_TOP_LEFT_CORNER_RADIUS:
              type: VARIABLE_ALIAS
              id: id
            RECTANGLE_TOP_RIGHT_CORNER_RADIUS:
              type: VARIABLE_ALIAS
              id: id
            RECTANGLE_BOTTOM_LEFT_CORNER_RADIUS:
              type: VARIABLE_ALIAS
              id: id
            RECTANGLE_BOTTOM_RIGHT_CORNER_RADIUS:
              type: VARIABLE_ALIAS
              id: id
        explicitVariableModes:
          key: explicitVariableModes
        blendMode: ""
        opacity: 0.6027456183070403
        children:
          - null
          - null
        absoluteBoundingBox: ""
        absoluteRenderBounds: ""
        preserveRatio: false
        constraints: ""
        relativeTransform: ""
        size: ""
        layoutAlign: INHERIT
        layoutGrow: 1.4658129805029452
        layoutPositioning: AUTO
        minWidth: 5.962133916683182
        maxWidth: 5.637376656633329
        minHeight: 2.3021358869347655
        maxHeight: 7.061401241503109
        layoutSizingHorizontal: FIXED
        layoutSizingVertical: FIXED
        gridRowCount: 9.301444243932576
        gridColumnCount: 3.616076749251911
        gridRowGap: 2.027123023002322
        gridColumnGap: 4.145608029883936
        gridColumnsSizing: gridColumnsSizing
        gridRowsSizing: gridRowsSizing
        gridChildHorizontalAlign: AUTO
        gridChildVerticalAlign: AUTO
        gridRowSpan: 7.386281948385884
        gridColumnSpan: 1.2315135367772556
        gridRowAnchorIndex: 1.0246457001441578
        gridColumnAnchorIndex: 1.4894159098541704
        fills:
          - type: SOLID
            color: ""
            boundVariables:
              color:
                type: VARIABLE_ALIAS
                id: id
            visible: true
            opacity: 0.684685269835264
            blendMode: ""
          - type: SOLID
            color: ""
            boundVariables:
              color:
                type: VARIABLE_ALIAS
                id: id
            visible: true
            opacity: 0.684685269835264
            blendMode: ""
        styles:
          key: styles
        strokes:
          - null
          - null
        strokeWeight: 7.457744773683766
        strokeAlign: INSIDE
        strokeJoin: MITER
        strokeDashes:
          - 1.1730742509559433
          - 1.1730742509559433
        fillOverrideTable:
          key:
            fills:
              - null
              - null
            inheritFillStyleId: inheritFillStyleId
        fillGeometry:
          - path: path
            windingRule: NONZERO
            overrideID: 4.965218492984954
          - path: path
            windingRule: NONZERO
            overrideID: 4.965218492984954
        strokeGeometry:
          - path: path
            windingRule: NONZERO
            overrideID: 4.965218492984954
          - path: path
            windingRule: NONZERO
            overrideID: 4.965218492984954
        strokeCap: NONE
        strokeMiterAngle: 5.025004791520295
        exportSettings:
          - suffix: suffix
            format: JPG
            constraint:
              type: SCALE
              value: 9.965781217890562
          - suffix: suffix
            format: JPG
            constraint:
              type: SCALE
              value: 9.965781217890562
        effects:
          - type: DROP_SHADOW
            showShadowBehindNode: false
            color: ""
            blendMode: ""
            offset: ""
            radius: 0.9369310271410669
            spread: 6.683562403749608
            visible: true
            boundVariables:
              radius:
                type: VARIABLE_ALIAS
                id: id
              spread:
                type: VARIABLE_ALIAS
                id: id
              color:
                type: VARIABLE_ALIAS
                id: id
              offsetX:
                type: VARIABLE_ALIAS
                id: id
              offsetY:
                type: VARIABLE_ALIAS
                id: id
          - type: DROP_SHADOW
            showShadowBehindNode: false
            color: ""
            blendMode: ""
            offset: ""
            radius: 0.9369310271410669
            spread: 6.683562403749608
            visible: true
            boundVariables:
              radius:
                type: VARIABLE_ALIAS
                id: id
              spread:
                type: VARIABLE_ALIAS
                id: id
              color:
                type: VARIABLE_ALIAS
                id: id
              offsetX:
                type: VARIABLE_ALIAS
                id: id
              offsetY:
                type: VARIABLE_ALIAS
                id: id
        isMask: false
        maskType: ALPHA
        isMaskOutline: false
        transitionNodeID: transitionNodeID
        transitionDuration: 8.762042012749001
        transitionEasing: ""
        interactions:
          - trigger: ""
            actions:
              - type: BACK
              - type: BACK
          - trigger: ""
            actions:
              - type: BACK
              - type: BACK
    ComponentNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "COMPONENT"
              enum:
                - COMPONENT
              type: string
          required:
            - type
        - $ref: "#/components/schemas/FrameTraits"
        - $ref: "#/components/schemas/ComponentPropertiesTrait"
    ComponentSetNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "COMPONENT_SET"
              enum:
                - COMPONENT_SET
              type: string
          required:
            - type
        - $ref: "#/components/schemas/FrameTraits"
        - $ref: "#/components/schemas/ComponentPropertiesTrait"
    ConnectorNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "CONNECTOR"
              enum:
                - CONNECTOR
              type: string
            connectorStart:
              allOf:
                - $ref: "#/components/schemas/ConnectorEndpoint"
              description: The starting point of the connector.
            connectorEnd:
              allOf:
                - $ref: "#/components/schemas/ConnectorEndpoint"
              description: The ending point of the connector.
            connectorStartStrokeCap:
              default: NONE
              description: A string enum describing the end cap of the start of the connector.
              enum:
                - NONE
                - LINE_ARROW
                - TRIANGLE_ARROW
                - DIAMOND_FILLED
                - CIRCLE_FILLED
                - TRIANGLE_FILLED
              type: string
            connectorEndStrokeCap:
              default: NONE
              description: A string enum describing the end cap of the end of the connector.
              enum:
                - NONE
                - LINE_ARROW
                - TRIANGLE_ARROW
                - DIAMOND_FILLED
                - CIRCLE_FILLED
                - TRIANGLE_FILLED
              type: string
            connectorLineType:
              allOf:
                - $ref: "#/components/schemas/ConnectorLineType"
              description: Connector line type.
            textBackground:
              allOf:
                - $ref: "#/components/schemas/ConnectorTextBackground"
              description: Connector text background.
          required:
            - connectorEnd
            - connectorEndStrokeCap
            - connectorLineType
            - connectorStart
            - connectorStartStrokeCap
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/HasLayoutTrait"
        - $ref: "#/components/schemas/HasBlendModeAndOpacityTrait"
        - $ref: "#/components/schemas/HasEffectsTrait"
        - $ref: "#/components/schemas/HasExportSettingsTrait"
        - $ref: "#/components/schemas/HasTextSublayerTrait"
        - $ref: "#/components/schemas/MinimalStrokesTrait"
    EllipseNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "ELLIPSE"
              enum:
                - ELLIPSE
              type: string
            arcData:
              $ref: "#/components/schemas/ArcData"
          required:
            - arcData
            - type
        - $ref: "#/components/schemas/DefaultShapeTraits"
        - $ref: "#/components/schemas/AnnotationsTrait"
    EmbedNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "EMBED"
              enum:
                - EMBED
              type: string
          required:
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/HasExportSettingsTrait"
    FrameNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "FRAME"
              enum:
                - FRAME
              type: string
          required:
            - type
        - $ref: "#/components/schemas/FrameTraits"
    GroupNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "GROUP"
              enum:
                - GROUP
              type: string
          required:
            - type
        - $ref: "#/components/schemas/FrameTraits"
    InstanceNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "INSTANCE"
              enum:
                - INSTANCE
              type: string
            componentId:
              description: ID of component that this instance came from.
              type: string
            isExposedInstance:
              default: false
              description: If true, this node has been marked as exposed to its containing
                component or component set.
              type: boolean
            exposedInstances:
              description: IDs of instances that have been exposed to this node's level.
              items:
                type: string
              type: array
              default: null
            componentProperties:
              additionalProperties:
                $ref: "#/components/schemas/ComponentProperty"
              description: A mapping of name to `ComponentProperty` for all component
                properties on this instance. Each property has a type, value,
                and other optional values.
              type: object
            overrides:
              description: An array of all of the fields directly overridden on this instance.
                Inherited overrides are not included.
              items:
                $ref: "#/components/schemas/Overrides"
              type: array
              default: null
          required:
            - componentId
            - overrides
            - type
        - $ref: "#/components/schemas/FrameTraits"
    LineNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "LINE"
              enum:
                - LINE
              type: string
          required:
            - type
        - $ref: "#/components/schemas/DefaultShapeTraits"
        - $ref: "#/components/schemas/AnnotationsTrait"
    LinkUnfurlNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "LINK_UNFURL"
              enum:
                - LINK_UNFURL
              type: string
          required:
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/HasExportSettingsTrait"
    RectangleNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "RECTANGLE"
              enum:
                - RECTANGLE
              type: string
          required:
            - type
        - $ref: "#/components/schemas/RectangularShapeTraits"
    RegularPolygonNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "REGULAR_POLYGON"
              enum:
                - REGULAR_POLYGON
              type: string
          required:
            - type
        - $ref: "#/components/schemas/CornerRadiusShapeTraits"
        - $ref: "#/components/schemas/AnnotationsTrait"
    SectionNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "SECTION"
              enum:
                - SECTION
              type: string
            sectionContentsHidden:
              default: false
              description: Whether the contents of the section are visible
              type: boolean
          required:
            - sectionContentsHidden
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/HasGeometryTrait"
        - $ref: "#/components/schemas/HasChildrenTrait"
        - $ref: "#/components/schemas/HasLayoutTrait"
        - $ref: "#/components/schemas/DevStatusTrait"
    ShapeWithTextNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "SHAPE_WITH_TEXT"
              enum:
                - SHAPE_WITH_TEXT
              type: string
            shapeType:
              allOf:
                - $ref: "#/components/schemas/ShapeType"
              description: "Geometric shape type. Most shape types have the same name as their
                tooltip but there are a few exceptions. ENG_DATABASE: Cylinder,
                ENG_QUEUE: Horizontal cylinder, ENG_FILE: File, ENG_FOLDER:
                Folder."
          required:
            - shapeType
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/HasLayoutTrait"
        - $ref: "#/components/schemas/HasBlendModeAndOpacityTrait"
        - $ref: "#/components/schemas/MinimalFillsTrait"
        - $ref: "#/components/schemas/HasMaskTrait"
        - $ref: "#/components/schemas/HasEffectsTrait"
        - $ref: "#/components/schemas/HasExportSettingsTrait"
        - $ref: "#/components/schemas/HasTextSublayerTrait"
        - $ref: "#/components/schemas/CornerTrait"
        - $ref: "#/components/schemas/MinimalStrokesTrait"
    SliceNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "SLICE"
              enum:
                - SLICE
              type: string
          required:
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
    StarNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "STAR"
              enum:
                - STAR
              type: string
          required:
            - type
        - $ref: "#/components/schemas/CornerRadiusShapeTraits"
        - $ref: "#/components/schemas/AnnotationsTrait"
    StickyNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "STICKY"
              enum:
                - STICKY
              type: string
            authorVisible:
              default: false
              description: If true, author name is visible.
              type: boolean
          required:
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/HasLayoutTrait"
        - $ref: "#/components/schemas/HasBlendModeAndOpacityTrait"
        - $ref: "#/components/schemas/MinimalFillsTrait"
        - $ref: "#/components/schemas/HasMaskTrait"
        - $ref: "#/components/schemas/HasEffectsTrait"
        - $ref: "#/components/schemas/HasExportSettingsTrait"
        - $ref: "#/components/schemas/HasTextSublayerTrait"
    TableNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "TABLE"
              enum:
                - TABLE
              type: string
          required:
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/HasChildrenTrait"
        - $ref: "#/components/schemas/HasLayoutTrait"
        - $ref: "#/components/schemas/MinimalStrokesTrait"
        - $ref: "#/components/schemas/HasEffectsTrait"
        - $ref: "#/components/schemas/HasBlendModeAndOpacityTrait"
        - $ref: "#/components/schemas/HasExportSettingsTrait"
    TableCellNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "TABLE_CELL"
              enum:
                - TABLE_CELL
              type: string
          required:
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/MinimalFillsTrait"
        - $ref: "#/components/schemas/HasLayoutTrait"
        - $ref: "#/components/schemas/HasTextSublayerTrait"
    TextNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "TEXT"
              enum:
                - TEXT
              type: string
          required:
            - type
        - $ref: "#/components/schemas/DefaultShapeTraits"
        - $ref: "#/components/schemas/TypePropertiesTrait"
        - $ref: "#/components/schemas/AnnotationsTrait"
    TextPathNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "TEXT_PATH"
              enum:
                - TEXT_PATH
              type: string
          required:
            - type
        - $ref: "#/components/schemas/DefaultShapeTraits"
        - $ref: "#/components/schemas/TextPathPropertiesTrait"
    TransformGroupNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "TRANSFORM_GROUP"
              enum:
                - TRANSFORM_GROUP
              type: string
          required:
            - type
        - $ref: "#/components/schemas/FrameTraits"
        - $ref: "#/components/schemas/TransformModifiersTrait"
    VectorNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "VECTOR"
              enum:
                - VECTOR
              type: string
          required:
            - type
        - $ref: "#/components/schemas/CornerRadiusShapeTraits"
        - $ref: "#/components/schemas/AnnotationsTrait"
    WashiTapeNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal
                "WASHI_TAPE"
              enum:
                - WASHI_TAPE
              type: string
          required:
            - type
        - $ref: "#/components/schemas/DefaultShapeTraits"
    WidgetNode:
      allOf:
        - properties:
            type:
              description: The type of this node, represented by the string literal "WIDGET"
              enum:
                - WIDGET
              type: string
          required:
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
        - $ref: "#/components/schemas/HasExportSettingsTrait"
        - $ref: "#/components/schemas/HasChildrenTrait"
    DocumentNode:
      allOf:
        - properties:
            type:
              enum:
                - DOCUMENT
              type: string
            children:
              items:
                $ref: "#/components/schemas/CanvasNode"
              type: array
              default: null
          required:
            - children
            - type
        - $ref: "#/components/schemas/IsLayerTrait"
      example:
        type: type
        children:
          - type: type
            children:
              - type: type
                booleanOperation: UNION
                id: id
                name: name
                visible: true
                locked: false
                isFixed: false
                scrollBehavior: SCROLLS
                rotation: 0.8008281904610115
                componentPropertyReferences:
                  key: componentPropertyReferences
                pluginData: ""
                sharedPluginData: ""
                boundVariables:
                  size:
                    x:
                      type: VARIABLE_ALIAS
                      id: id
                    y:
                      type: VARIABLE_ALIAS
                      id: id
                  individualStrokeWeights:
                    top:
                      type: VARIABLE_ALIAS
                      id: id
                    bottom:
                      type: VARIABLE_ALIAS
                      id: id
                    left:
                      type: VARIABLE_ALIAS
                      id: id
                    right:
                      type: VARIABLE_ALIAS
                      id: id
                  characters:
                    type: VARIABLE_ALIAS
                    id: id
                  itemSpacing:
                    type: VARIABLE_ALIAS
                    id: id
                  paddingLeft:
                    type: VARIABLE_ALIAS
                    id: id
                  paddingRight:
                    type: VARIABLE_ALIAS
                    id: id
                  paddingTop:
                    type: VARIABLE_ALIAS
                    id: id
                  paddingBottom:
                    type: VARIABLE_ALIAS
                    id: id
                  visible:
                    type: VARIABLE_ALIAS
                    id: id
                  topLeftRadius:
                    type: VARIABLE_ALIAS
                    id: id
                  topRightRadius:
                    type: VARIABLE_ALIAS
                    id: id
                  bottomLeftRadius:
                    type: VARIABLE_ALIAS
                    id: id
                  bottomRightRadius:
                    type: VARIABLE_ALIAS
                    id: id
                  minWidth:
                    type: VARIABLE_ALIAS
                    id: id
                  maxWidth:
                    type: VARIABLE_ALIAS
                    id: id
                  minHeight:
                    type: VARIABLE_ALIAS
                    id: id
                  maxHeight:
                    type: VARIABLE_ALIAS
                    id: id
                  counterAxisSpacing:
                    type: VARIABLE_ALIAS
                    id: id
                  opacity:
                    type: VARIABLE_ALIAS
                    id: id
                  fontFamily:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  fontSize:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  fontStyle:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  fontWeight:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  letterSpacing:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  lineHeight:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  paragraphSpacing:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  paragraphIndent:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  fills:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  strokes:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  componentProperties:
                    key:
                      type: VARIABLE_ALIAS
                      id: id
                  textRangeFills:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  effects:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  layoutGrids:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  rectangleCornerRadii:
                    RECTANGLE_TOP_LEFT_CORNER_RADIUS:
                      type: VARIABLE_ALIAS
                      id: id
                    RECTANGLE_TOP_RIGHT_CORNER_RADIUS:
                      type: VARIABLE_ALIAS
                      id: id
                    RECTANGLE_BOTTOM_LEFT_CORNER_RADIUS:
                      type: VARIABLE_ALIAS
                      id: id
                    RECTANGLE_BOTTOM_RIGHT_CORNER_RADIUS:
                      type: VARIABLE_ALIAS
                      id: id
                explicitVariableModes:
                  key: explicitVariableModes
                blendMode: ""
                opacity: 0.6027456183070403
                children:
                  - null
                  - null
                absoluteBoundingBox: ""
                absoluteRenderBounds: ""
                preserveRatio: false
                constraints: ""
                relativeTransform: ""
                size: ""
                layoutAlign: INHERIT
                layoutGrow: 1.4658129805029452
                layoutPositioning: AUTO
                minWidth: 5.962133916683182
                maxWidth: 5.637376656633329
                minHeight: 2.3021358869347655
                maxHeight: 7.061401241503109
                layoutSizingHorizontal: FIXED
                layoutSizingVertical: FIXED
                gridRowCount: 9.301444243932576
                gridColumnCount: 3.616076749251911
                gridRowGap: 2.027123023002322
                gridColumnGap: 4.145608029883936
                gridColumnsSizing: gridColumnsSizing
                gridRowsSizing: gridRowsSizing
                gridChildHorizontalAlign: AUTO
                gridChildVerticalAlign: AUTO
                gridRowSpan: 7.386281948385884
                gridColumnSpan: 1.2315135367772556
                gridRowAnchorIndex: 1.0246457001441578
                gridColumnAnchorIndex: 1.4894159098541704
                fills:
                  - type: SOLID
                    color: ""
                    boundVariables:
                      color:
                        type: VARIABLE_ALIAS
                        id: id
                    visible: true
                    opacity: 0.684685269835264
                    blendMode: ""
                  - type: SOLID
                    color: ""
                    boundVariables:
                      color:
                        type: VARIABLE_ALIAS
                        id: id
                    visible: true
                    opacity: 0.684685269835264
                    blendMode: ""
                styles:
                  key: styles
                strokes:
                  - null
                  - null
                strokeWeight: 7.457744773683766
                strokeAlign: INSIDE
                strokeJoin: MITER
                strokeDashes:
                  - 1.1730742509559433
                  - 1.1730742509559433
                fillOverrideTable:
                  key:
                    fills:
                      - null
                      - null
                    inheritFillStyleId: inheritFillStyleId
                fillGeometry:
                  - path: path
                    windingRule: NONZERO
                    overrideID: 4.965218492984954
                  - path: path
                    windingRule: NONZERO
                    overrideID: 4.965218492984954
                strokeGeometry:
                  - path: path
                    windingRule: NONZERO
                    overrideID: 4.965218492984954
                  - path: path
                    windingRule: NONZERO
                    overrideID: 4.965218492984954
                strokeCap: NONE
                strokeMiterAngle: 5.025004791520295
                exportSettings:
                  - suffix: suffix
                    format: JPG
                    constraint:
                      type: SCALE
                      value: 9.965781217890562
                  - suffix: suffix
                    format: JPG
                    constraint:
                      type: SCALE
                      value: 9.965781217890562
                effects:
                  - type: DROP_SHADOW
                    showShadowBehindNode: false
                    color: ""
                    blendMode: ""
                    offset: ""
                    radius: 0.9369310271410669
                    spread: 6.683562403749608
                    visible: true
                    boundVariables:
                      radius:
                        type: VARIABLE_ALIAS
                        id: id
                      spread:
                        type: VARIABLE_ALIAS
                        id: id
                      color:
                        type: VARIABLE_ALIAS
                        id: id
                      offsetX:
                        type: VARIABLE_ALIAS
                        id: id
                      offsetY:
                        type: VARIABLE_ALIAS
                        id: id
                  - type: DROP_SHADOW
                    showShadowBehindNode: false
                    color: ""
                    blendMode: ""
                    offset: ""
                    radius: 0.9369310271410669
                    spread: 6.683562403749608
                    visible: true
                    boundVariables:
                      radius:
                        type: VARIABLE_ALIAS
                        id: id
                      spread:
                        type: VARIABLE_ALIAS
                        id: id
                      color:
                        type: VARIABLE_ALIAS
                        id: id
                      offsetX:
                        type: VARIABLE_ALIAS
                        id: id
                      offsetY:
                        type: VARIABLE_ALIAS
                        id: id
                isMask: false
                maskType: ALPHA
                isMaskOutline: false
                transitionNodeID: transitionNodeID
                transitionDuration: 8.762042012749001
                transitionEasing: ""
                interactions:
                  - trigger: ""
                    actions:
                      - type: BACK
                      - type: BACK
                  - trigger: ""
                    actions:
                      - type: BACK
                      - type: BACK
              - type: type
                booleanOperation: UNION
                id: id
                name: name
                visible: true
                locked: false
                isFixed: false
                scrollBehavior: SCROLLS
                rotation: 0.8008281904610115
                componentPropertyReferences:
                  key: componentPropertyReferences
                pluginData: ""
                sharedPluginData: ""
                boundVariables:
                  size:
                    x:
                      type: VARIABLE_ALIAS
                      id: id
                    y:
                      type: VARIABLE_ALIAS
                      id: id
                  individualStrokeWeights:
                    top:
                      type: VARIABLE_ALIAS
                      id: id
                    bottom:
                      type: VARIABLE_ALIAS
                      id: id
                    left:
                      type: VARIABLE_ALIAS
                      id: id
                    right:
                      type: VARIABLE_ALIAS
                      id: id
                  characters:
                    type: VARIABLE_ALIAS
                    id: id
                  itemSpacing:
                    type: VARIABLE_ALIAS
                    id: id
                  paddingLeft:
                    type: VARIABLE_ALIAS
                    id: id
                  paddingRight:
                    type: VARIABLE_ALIAS
                    id: id
                  paddingTop:
                    type: VARIABLE_ALIAS
                    id: id
                  paddingBottom:
                    type: VARIABLE_ALIAS
                    id: id
                  visible:
                    type: VARIABLE_ALIAS
                    id: id
                  topLeftRadius:
                    type: VARIABLE_ALIAS
                    id: id
                  topRightRadius:
                    type: VARIABLE_ALIAS
                    id: id
                  bottomLeftRadius:
                    type: VARIABLE_ALIAS
                    id: id
                  bottomRightRadius:
                    type: VARIABLE_ALIAS
                    id: id
                  minWidth:
                    type: VARIABLE_ALIAS
                    id: id
                  maxWidth:
                    type: VARIABLE_ALIAS
                    id: id
                  minHeight:
                    type: VARIABLE_ALIAS
                    id: id
                  maxHeight:
                    type: VARIABLE_ALIAS
                    id: id
                  counterAxisSpacing:
                    type: VARIABLE_ALIAS
                    id: id
                  opacity:
                    type: VARIABLE_ALIAS
                    id: id
                  fontFamily:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  fontSize:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  fontStyle:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  fontWeight:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  letterSpacing:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  lineHeight:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  paragraphSpacing:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  paragraphIndent:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  fills:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  strokes:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  componentProperties:
                    key:
                      type: VARIABLE_ALIAS
                      id: id
                  textRangeFills:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  effects:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  layoutGrids:
                    - type: VARIABLE_ALIAS
                      id: id
                    - type: VARIABLE_ALIAS
                      id: id
                  rectangleCornerRadii:
                    RECTANGLE_TOP_LEFT_CORNER_RADIUS:
                      type: VARIABLE_ALIAS
                      id: id
                    RECTANGLE_TOP_RIGHT_CORNER_RADIUS:
                      type: VARIABLE_ALIAS
                      id: id
                    RECTANGLE_BOTTOM_LEFT_CORNER_RADIUS:
                      type: VARIABLE_ALIAS
                      id: id
                    RECTANGLE_BOTTOM_RIGHT_CORNER_RADIUS:
                      type: VARIABLE_ALIAS
                      id: id
                explicitVariableModes:
                  key: explicitVariableModes
                blendMode: ""
                opacity: 0.6027456183070403
                children:
                  - null
                  - null
                absoluteBoundingBox: ""
                absoluteRenderBounds: ""
                preserveRatio: false
                constraints: ""
                relativeTransform: ""
                size: ""
                layoutAlign: INHERIT
                layoutGrow: 1.4658129805029452
                layoutPositioning: AUTO
                minWidth: 5.962133916683182
                maxWidth: 5.637376656633329
                minHeight: 2.3021358869347655
                maxHeight: 7.061401241503109
                layoutSizingHorizontal: FIXED
                layoutSizingVertical: FIXED
                gridRowCount: 9.301444243932576
                gridColumnCount: 3.616076749251911
                gridRowGap: 2.027123023002322
                gridColumnGap: 4.145608029883936
                gridColumnsSizing: gridColumnsSizing
                gridRowsSizing: gridRowsSizing
                gridChildHorizontalAlign: AUTO
                gridChildVerticalAlign: AUTO
                gridRowSpan: 7.386281948385884
                gridColumnSpan: 1.2315135367772556
                gridRowAnchorIndex: 1.0246457001441578
                gridColumnAnchorIndex: 1.4894159098541704
                fills:
                  - type: SOLID
                    color: ""
                    boundVariables:
                      color:
                        type: VARIABLE_ALIAS
                        id: id
                    visible: true
                    opacity: 0.684685269835264
                    blendMode: ""
                  - type: SOLID
                    color: ""
                    boundVariables:
                      color:
                        type: VARIABLE_ALIAS
                        id: id
                    visible: true
                    opacity: 0.684685269835264
                    blendMode: ""
                styles:
                  key: styles
                strokes:
                  - null
                  - null
                strokeWeight: 7.457744773683766
                strokeAlign: INSIDE
                strokeJoin: MITER
                strokeDashes:
                  - 1.1730742509559433
                  - 1.1730742509559433
                fillOverrideTable:
                  key:
                    fills:
                      - null
                      - null
                    inheritFillStyleId: inheritFillStyleId
                fillGeometry:
                  - path: path
                    windingRule: NONZERO
                    overrideID: 4.965218492984954
                  - path: path
                    windingRule: NONZERO
                    overrideID: 4.965218492984954
                strokeGeometry:
                  - path: path
                    windingRule: NONZERO
                    overrideID: 4.965218492984954
                  - path: path
                    windingRule: NONZERO
                    overrideID: 4.965218492984954
                strokeCap: NONE
                strokeMiterAngle: 5.025004791520295
                exportSettings:
                  - suffix: suffix
                    format: JPG
                    constraint:
                      type: SCALE
                      value: 9.965781217890562
                  - suffix: suffix
                    format: JPG
                    constraint:
                      type: SCALE
                      value: 9.965781217890562
                effects:
                  - type: DROP_SHADOW
                    showShadowBehindNode: false
                    color: ""
                    blendMode: ""
                    offset: ""
                    radius: 0.9369310271410669
                    spread: 6.683562403749608
                    visible: true
                    boundVariables:
                      radius:
                        type: VARIABLE_ALIAS
                        id: id
                      spread:
                        type: VARIABLE_ALIAS
                        id: id
                      color:
                        type: VARIABLE_ALIAS
                        id: id
                      offsetX:
                        type: VARIABLE_ALIAS
                        id: id
                      offsetY:
                        type: VARIABLE_ALIAS
                        id: id
                  - type: DROP_SHADOW
                    showShadowBehindNode: false
                    color: ""
                    blendMode: ""
                    offset: ""
                    radius: 0.9369310271410669
                    spread: 6.683562403749608
                    visible: true
                    boundVariables:
                      radius:
                        type: VARIABLE_ALIAS
                        id: id
                      spread:
                        type: VARIABLE_ALIAS
                        id: id
                      color:
                        type: VARIABLE_ALIAS
                        id: id
                      offsetX:
                        type: VARIABLE_ALIAS
                        id: id
                      offsetY:
                        type: VARIABLE_ALIAS
                        id: id
                isMask: false
                maskType: ALPHA
                isMaskOutline: false
                transitionNodeID: transitionNodeID
                transitionDuration: 8.762042012749001
                transitionEasing: ""
                interactions:
                  - trigger: ""
                    actions:
                      - type: BACK
                      - type: BACK
                  - trigger: ""
                    actions:
                      - type: BACK
                      - type: BACK
            backgroundColor: ""
            prototypeStartNodeID: prototypeStartNodeID
            flowStartingPoints:
              - nodeId: nodeId
                name: name
              - nodeId: nodeId
                name: name
            prototypeDevice: ""
            prototypeBackgrounds:
              - r: 0.9018348186070783
                g: 0.6438423552598547
                b: 0.35571952270680973
[...]
